/** Fonts
--------------------------------------------- **/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400);

/** Main styles
--------------------------------------------- **/
.name a {
	color: white;
	text-decoration: underline;
}

.divider {
	text-align: left;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 10px;
	color: rgba(255,255,255,1);
	font-size: 1.8rem;
}

.item {
	width: 100%;
	display: inline-block;
	position: relative;
	text-align: left;
	margin-bottom: 15px;
}

.item .name {
	font-size: 1.5rem;
	z-index: 1;
}

.item .details {
	font-size: .9rem;
}

.item .italic {
	font-style: italic;
}

.item .bold {
	font-weight: 400;
}

.item .underline {
	text-decoration: underline;
}

.item .location {
	font-size: 0.8rem;
}

.item .year {
	font-size: 0.8rem;
}
